
*{
    box-sizing: border-box;
}
.contact,.navbar,.fourth-btn{
    border-radius: 30px !important;
    padding: 11px !important;
}
.center-nav{
    border-radius: 30px ;
}
.fisrt-sec{
    background-image: url(images/Rectangle\ 14.png);
    background-position: right;
    background-size: cover;
}
.front-img{
    width: 848.2px;
    height: 812.44px;
    top: 135px;
    left: 1481.2px; 
}

.first-sec-input{
    background-color: rgb(239, 235, 235) !important;
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
}
.main-heading{
    font-size: 4rem;
}
.main-contact{
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
}
@media screen and (max-width:768px){
    .fisrt-sec{
        width: 100%;
    }
}